---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: bosh/main

inputs:
- name: config-server

run:
  path: config-server/ci/tasks/test-integration.sh

params:
  DB: replace-me
